<div class="container">
  <div class="row">
    <div class="col-lg-2 text-center">
      <%= link_to "Back to Community", @community, class: "btn btn-outline-dark" %>
    </div>
    <div class="col-lg-8 text-center">
         <div class="card mb-4 shadow-sm">
          <div class="card-title my-2">
              <div class="row">
              <div class="col-md-3 text-md-left px-4">
              <a href="">
                  <span class="text-muted">r/</span><%= link_to @community.name, @community %></a>
              </div>
              <div class="col-md-6 text-md-center">
                  <h4 class="px-4"><%= @post.title %></h4>
              </div>
              <div class="col-md-3 text-md-right px-4">
              By <a href=""><span class="text-muted"> u/</span><%= @post.user.username %></a>
              </div>
              </div>
          </div>
            <% if @post.image.present? %>
              <%= image_tag @post.image.url, class: "img-fluid", style: "height: 25rem;" %>
            <% end %>
          <div class="card-body">
              <p class="card-text"><%= @post.post %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group align-middle">
                <% if ! user_signed_in? %>
                  <%= link_to "Sign in to vote.", new_user_session_path, class: "btn btn-sm btn-outline-info" %>
                <% else %>
                  <% if ! @already_voted %>
                  <%= render partial: "posts/upvote", locals: { community_id: @community.id, post_id: @post.id } %>
                  <%= render partial: "posts/downvote", locals: { community_id: @community.id, post_id: @post.id } %>
                  <% else %>
                    <small class="text-muted mr-2">Delete your vote</small>
                    <%= link_to vote_path, method: :delete do %>
                      <i data-feather="trash-2" class="text-dark"></i>
                    <% end %>
                  <% end %>
                <% end %>
                  <span class="font-weight-bold mx-2 <% if @score > 0%>text-danger<% else %>text-primary<% end %>">Score: <%= @score %></span>
                  <a href="post_show.php?id=3#bottom" class="text-dark ml-5" style="text-decoration: none;"><i class="fal fa-comment-lines fa-2x" aria-hidden="true"></i></a>
                </div>
                <small class="text-muted">Posted <%= time_ago_in_words(@post.created_at) %> ago</small>
              </div>
          </div>
        </div>
        <h3 class="text-muted">Comments</h3>
        <% @comments.each do |comment| %>
          <div class="card text-left mb-3">
          <% if comment.user.avatar? %>
              <%= image_tag comment.user.avatar.url, :size => "25x25", class: "rounded-circle float-left ml-1 mt-3" %>
          <% end %>
            <span class="ml-1 mb-3">u/<%= comment.user.username %> said:</span>

            <p class="text-center"><%= comment.text %></p>

            <p class="text-muted text-right mr-1"><% if comment.user_id == current_user.id %> <%= link_to comment_path, method: :delete do %><i data-feather="trash-2" class="text-dark"></i><% end %> <% end %><small>Commented <%= time_ago_in_words(comment.created_at) %> ago</small></p>
          </div>
        <% end %>
    </div>
    <div class="col-lg-2 text-center">
      <% if user_signed_in? %>
        <%= link_to "Comment", new_comment_path(:post_id => @post.id), class: "btn btn-info mb-2" %>
      <% end %>
      <% if user_signed_in? && @post.user_id == current_user.id %>
        <%= link_to "Edit my post", edit_community_post_path, class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>

