<div class="container">
  <div class="row">
    <div class="col-lg-2 text-center">
    </div>
    <div class="col-lg-8 text-center">
    <h1>
      <% if @community.icon.present? %>
        <%= image_tag @community.icon.url, :size => "50x50", class: "rounded-circle" %>
      <% end %>
      <%= @community.name %></h1>
        <h3 class="text-muted mt-3">About this Community</h3>
        <p class="mb-5"><%= @community.description %></p>
      <h3 class="text-muted">All Posts</h3>
      <% @posts.each do |post| %>
         <div class="card mb-4 shadow-sm">
          <div class="card-title my-2">
              <div class="row">
              <div class="col-md-3 text-md-left px-4">
                <span class="text-muted">r/</span><%= link_to @community.name, @community %>
              </div>
              <div class="col-md-6 text-md-center">
                  <h4 class="px-4"><%= link_to post.title, community_post_path(@community, post) %></h4>
              </div>
              <div class="col-md-3 text-md-right px-4">
              By <a href=""><span class="text-muted"> u/</span><%= post.user.username %></a>
              </div>
              </div>
          </div>
            <% if post.image.present? %>
              <%= image_tag post.image.url, class: "img-fluid", style: "height: 25rem;" %>
            <% end %>
          <div class="card-body">
              <p class="card-text" style="overflow: hidden; height: 6rem;"><%= post.post %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group align-middle">
                  <i class="far fa-arrow-square-up fa-2x mx-1 text-danger" aria-hidden="true"></i> <span class="font-weight-bold mx-2 text-primary">0</span>
                  <i class="far fa-arrow-square-down mx-1 fa-2x text-primary" aria-hidden="true"></i>
                  <a href="post_show.php?id=3#bottom" class="text-dark ml-5" style="text-decoration: none;"><i class="fal fa-comment-lines fa-2x" aria-hidden="true"></i></a>
                </div>
                <small class="text-muted">Posted <%= time_ago_in_words(post.created_at) %> ago</small>
              </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-lg-2 text-center">
    <% if user_signed_in? %>
      <% if @community.user_id == current_user.id %>
        <%= link_to "Edit your community", edit_community_path, class: "btn btn-success" %>
      <% end %>
    <% end %>
    <p class="text-muted">About this community</p>
    <p class=""><em><small class="text-muted">created <%= time_ago_in_words(@community.created_at) %> ago</small></em></p>
    <% if @is_subscribed %>
      <%= link_to "UNSUBSCRIBE", subscription_path, method: :delete, class: "btn btn-outline-danger my-2" %>
    <% else %>
      <%= render partial: "communities/subscribe", locals: { community_id: @community.id } %>
    <% end %>
    <p class="mt-2 mb-5"><%= pluralize @subscriber_count, "member" %></p>
    <% if @is_subscribed %>
    <%= link_to "Create new post", new_community_post_path(@community), class: "btn btn-primary" %>
    <% else %>
    <p>Subscribe to make a post.</p>
    <% end %>
    <p><%= link_to 'See all communities', communities_path, class: "btn btn-outline-dark mt-5" %></p>
    </div>
  </div>
</div>