<div class="container mb-5">
    <div class="row">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <%= link_to "ReadIt", home_index_path, class: "navbar-brand" %>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
            <% if user_signed_in? %>
               <ul class="navbar-nav ml-auto">
               <% if @header_user.admin? %>
                <li class="nav-item">
                    <%= link_to "Admin panel", admin_path, class: "btn btn-sm btn-light mr-3" %>
                </li>
                <% end %>
               <% if @header_user.avatar.present? %>
                    <li class="nav-item">
                        <%= image_tag @header_user.avatar.url, :size => "40x40", class: "rounded-circle mr-3" %>
                    </li>
                <% end %>
                <% if @header_user.username.present? %>
                    <li class="nav-item">
                        <%= link_to @header_user.username + "s' account", edit_user_registration_path, class: "btn btn-sm btn-secondary mr-2 mb-sm-2", style: "text-decoration: none;" %>
                    </li>
                <% else %>
                    <li class="nav-item">
                        <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-sm btn-secondary mr-2 mb-sm-2", style: "text-decoration: none;" %>
                    </li>
                <% end %>
                    <li class="nav-item">
                        <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-sm btn-light", style: "text-decoration: none;" %>
                    </li>
                </ul> 
            <% else %>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <%= link_to "Log In", new_user_session_path, class: "btn btn-sm btn-secondary mr-2 mb-sm-2", style: "text-decoration: none;" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-sm btn-light", style: "text-decoration: none;" %>
                </li>
            </ul>
            <% end %>
            </div>
        </nav>
    </div>
</div>
