<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Read-It</title>
    <%= favicon_link_tag asset_path('logo.jpg') %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: "layouts/header" %>

    <p class="alert"></p>

    <% if notice %>
    <div class="container"><div class="row"><div class="col-lg-4"></div><div class="col-lg-4"><p class="notice alert alert-success"><%= notice %></p></div><div class="col-lg-4"></div></div></div>
    <% end %>
    <% if alert %>
    <div class="container"><div class="row"><div class="col-lg-4"></div><div class="col-lg-4"><p class="alert alert-danger"><%= alert %></p></div><div class="col-lg-4"></div></div></div>
    <% end %>

    <%= yield %>
    <div class="mb-5"></div>
    <%= render partial: "layouts/footer" %>
  </body>
</html>
